.policy-page {
    width: 100%;
    overflow: hidden;
}

.policy-page__policy-section-and-toc {
    h1, h2, p {
        text-align: justify;
    }
    display: flex;
    margin: 3rem 2.5rem;
}

.policy-page__toc {
    padding: 2rem;

    nav {
        position: fixed;
        padding: 1rem;
        top: 6rem;
        right: 2rem;
        background-color: rgba(255, 255, 255, 0.635);
        border-radius: 5px;
    }

    border-left: 1px solid lightgray;
}

.policy-page__nav-placeholder {
    width: 150px;
}

.policy-page__navlink {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    margin: 1rem 0;
}

.policy-page__navlink:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #93a466;
}

.policy-page__policy-section {
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.635);
}

@media only screen and (max-width: 47em) { //767px
    .policy-page__toc {
        display: none;
    }

    .policy-page__policy-section-and-toc {
        h1, h2, p {
            text-align: justify;
        }

        display: flex;
    }
}

@media only screen and (max-width: 30em){ //479px
    .policy-page__policy-section {
        padding: 1rem;
    }
    .policy-page__policy-section-and-toc {
        margin: 2rem 1.5rem;
    }
}