@use "variables";

.account {
    min-width: 320px;
}

.account__body {
    display: flex;
    margin-bottom: 75px;
}

.account__content-wrapper {
    padding: 0 50px;
    aside {
        min-width: 255px;
    }
    main {
        width: 90%;
        background-color: #93a4663f;
        padding: 1rem;
    }
}

.account__toc {
    margin-right: 50px;
    height: 50vh;
    p {
        cursor: pointer;
        padding: 5px;
        border-radius: 15px;
        text-align: center;
    }

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus // needed this to fix the browser changing the style when using autocomplete
 {
  transition: background-color 5000s ease-in-out 0s;
}

.myDetails__inputTxt {
    border: none;
    display: inline-block;
    width: 70%;
    background-color: transparent;
}

.myDetails__inputBttn {
    border-radius: 5px;
    border: none;
    padding: .3rem 1rem;
}

.myDetails__passwd-prompt {
    text-align: center;
   background-color: lightgray;
   border: 1px solid white;
   min-height: 100px;
   box-shadow:  0 5px 15px gray;
   border-radius: 5px;
   div {
    margin: 1rem;
   }
   p {
    color: red;
   }
}

.myDetails__span-api-error {
    color: red;
    padding-left: 1rem;
}

.myDetails__loading-gif {
    width: 50px;
}

.myDetails__loading-gif--hide {
    display: none;
}


.account__vertical-title-active {
    @include variables.theme()
}

@media only screen and (max-width: 48em) { //767px
    .account__body {
        flex-direction: column;
    }

    .account__content-wrapper {
        padding: 0 9%;
    }

    .account__toc {
        margin-right: 0;
        height: auto;

        p {
            text-align: left;
        }
    }
}
