@use "variables";

.account {
    min-width: 320px;
}

.account__body {
    display: flex;
    margin-bottom: 75px;
}

.account__content-wrapper {
    padding: 0 50px;
    aside {
        min-width: 255px;
    }
    main {
        width: 90%;
        background-color: #93a4663f;
        padding: 1rem;
    }
}

.account__toc {
    margin-right: 50px;
    height: 50vh;
    p {
        cursor: pointer;
        padding: 5px;
        border-radius: 15px;
        text-align: center;
    }
    
}

.account__vertical-title-active {
    @include variables.theme()
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus // needed this to fix the browser changing the style when using autocomplete
 {
  transition: background-color 5000s ease-in-out 0s;
}

.transaction-card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 15px gray;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem 1rem;
    background-color: white;
}

.transaction-card__field-wrapper {
    overflow: hidden;
    display: flex;
}

.transaction-card__label {
    flex-shrink: 0;
    width: 15rem;
    display: inline-block;
    margin: 0 0 0.5rem;
}

.transaction-card__field-value {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    white-space: nowrap;
    margin: 0 0 0.5rem;
}

.transaction-card__delete-bttn {
    position: absolute;
    top: 0;
    right: 1rem;
    transform: rotate(45deg);
    border: none;
    background-color: transparent;
    color: red;
    width: 25px;
    font-size: 2rem;
    cursor: pointer;
}

.transaction-card__show-images-bttn, .transaction-card__change-status-bttn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
    color: gray;
    margin-bottom: .5rem;
}


@media only screen and (max-width: 48em) { //767px
    .account__body {
        flex-direction: column;
    }
    
    .account__content-wrapper {
        padding: 0 9%;
    }
    
    .account__toc {
        margin-right: 0;
        height: auto;
        
        p {
            text-align: left;
        }
    }

    .transaction-card__label {
        flex-shrink: 0;
        width: 10rem;
    }
}

@media only screen and (max-width: 25em) { //400px
    .transaction-card__label {
        width: 5rem;
    }

    .transaction-card__field-value {
        text-align: right;
    }
}
