@keyframes slideIn {
    from { left: -200% }
    to { left: 0;}
}

@keyframes slideOut {
    from { left: 0;}
    to { left: -200%;}
}

.animate--slideIn {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animate--slideOut {
    animation-name: slideOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
    from {  overflow:hidden; max-height: 0; visibility: hidden; }
    to { overflow: hidden; max-height: 5000px; visibility: visible;}
}
  
@keyframes slideUp {
    from { overflow: hidden; max-height: 500px; visibility: visible;}
    to { overflow: hidden; max-height: 0; visibility: hidden;}
}

.animate--slideDown {
    animation-name: slideDown;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
  
.animate--slideUp {
    animation-name: slideUp;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes rotateDown {
    from { transform: rotateX(0deg);}
    to { transform: rotateX(180deg);}
}

@keyframes rotateUp {
    from { transform: rotateX(180deg);}
    to { transform: rotateX(0deg);}
}

.animate--rotateDown {
    animation-name: rotateDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animate--rotateUp {
    animation-name: rotateUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes blink {
    0% {opacity: 100;}
    1% {opacity: 0;}
    2% {opacity: 100;}
    50% {opacity: 100;}
    51% {opacity: 0;}
    52% {opacity: 100;}
    53% {opacity: 100;}
    54% {opacity: 0;}
    55% {opacity: 100;}
}

.animate--blink {
    animation-name: blink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes swing {
    0% {padding-right: 0}
    50% {padding-right: 50px;}
    100% {padding-right: 0}
}

.animate--swing {
    animation-name: swing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes moveElementToRight{
  from {
      transform: translateX(200%);
    }
to {
      transform: translateX(-200%);
    }
}

.animate--moveToRight {
    animation-name: moveElementToRight;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

