@keyframes blink {
    0% {opacity: 100;}
    1% {opacity: 0;}
    2% {opacity: 100;}
    50% {opacity: 100;}
    51% {opacity: 0;}
    52% {opacity: 100;}
    53% {opacity: 100;}
    54% {opacity: 0;}
    55% {opacity: 100;}
}

.animate--blink {
    animation-name: blink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes swing {
    0% {padding-right: 0}
    50% {padding-right: 50px;}
    100% {padding-right: 0}
}

.animate--swing {
    animation-name: swing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes moveElementToRight{
  from {
      transform: translateX(200%);
    }
to {
      transform: translateX(-200%);
    }
}

.animate--moveToRight {
    animation-name: moveElementToRight;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

