@use "variables";

.bttn--slide-up--green {
    background-color: #93A466;
    color: white;
    cursor: pointer;
}
  
.bttn--slide-up--gray {
    background-color: darkgray;
    color: white;
    cursor: pointer;
}
  
.bttn--slide-up--purple {
    background-color: #8229ab;
    color: white;
    cursor: pointer;
}

.bttn--slide-up--green:hover {
    position: relative;
    bottom: 2px;
    background-color: #87965d;
}

.bttn--slide-up--gray:hover {
    position: relative;
    bottom: 2px;
    background-color: rgb(157, 152, 152);
}

.bttn--slide-up--purple:hover {
    position: relative;
    bottom: 2px;
    background-color: #8930b1;
}

.bttn--slide-up--green:active {
    background-color: #7c8a55;
    cursor: grabbing;
}

.bttn--slide-up--gray:active {
    background-color: rgb(141, 131, 131);
    cursor: grabbing;
}

.bttn--slide-up--purple:active {
    background-color: #8e37b6;
    cursor: grabbing;
}

.highlight:focus {
    box-shadow: 0 0 5px green;
    border: 1px solid green;
    outline: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dropDownV2__triangle-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: 10%;
    right: 2%;
}

.dropDownV2__body {
    max-height: 0;
    overflow: hidden;
}

.dropDownV2__title {
    margin: 0;
    @include variables.title($fontSize: 1.4rem);
}

.dropDownV2__hr {
    border-color: white;
}

.dropDownV2__headbar {
    position: relative;
}

.show-more-drop-down__contents {
    overflow: hidden;
}

.show-more-drop-down__bttn-wrapper {
    text-align: center;
}
.show-more-drop-down__bttn-wrapper::before {
    content: '';
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
    display: block;
    height: 10px;
}

.show-more-drop-down__bttn {
    color: gray;
}
.show-more-drop-down__bttn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pagination {
    overflow: hidden;

    ul {
        font-size: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    
    li {
        padding: .5rem;
        border-radius: 5px;
        margin: 3px;
        background-color: white;
        cursor: pointer;
    }
}

.image-uploader {
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    border: 1px gray dashed;
    display: flex;
    flex-direction: column;

    p {
        text-align: center;
        margin: 1rem;
    }

    label {
        display: inline-block;
        margin:  0 auto;
    }
}

.image-uploader__input-image-hider {
    margin: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}

.image-uploader__upload-to-cloud-icon {
    cursor: pointer;
    border-radius: 5px;
    width: 75px;
    padding: .5rem;
}

.image-uploader__upload-to-cloud-icon:hover {
    background-color: lightgray;
}

.image-uploader__preview {
    display: flex;
    overflow-y: hidden;
    justify-content: center;

    img {
        border-radius: 5px;
        margin: .5rem;
        max-width: 100px;
        max-height: 100px;
    }
}

.image-uploader__errors {
    overflow-x: hidden;
}

.image-uploader__clear-bttn {
    background-color: lightgray;
    border-radius: 5px;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.image-uploader__clear-bttn:active {
    background-color: rgb(192, 192, 192);
}

.binary-prompt {
    border: none;
    border-radius: 5px;
    box-shadow:  0 5px 15px gray;
}

.binary-prompt__bttns-wrapper {
    display: flex;
    justify-content: center;
    
    input {
        margin: 1rem .5rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.image-viewer {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    box-shadow:  0 5px 15px gray;
    padding: 1rem;
}

.image-viewer__img-list {
    display: flex;
    max-width: 500px;
    max-height: 500px;
    overflow-y: hidden;
}

.image-viewer__imgs {
    display: inline-block;
    margin: .5rem;
    width: 97%;
    height: 97%;
    border-radius: 5px;
}

.search-bar__input-wrapper {
    display: flex;
    overflow: hidden;
    align-items: center;
}

.search-bar__input {
    border: none;
    border-radius: 5px;
    outline: none;
}

.search-bar__find-icon {
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.search-bar__find-icon:hover {
    top: 1px;
}

.search-bar__suggestion-list {
    margin-top: .5rem;
    margin-top: .5rem;
    max-height: 300px;
    overflow-x: hidden;
    box-shadow:  0 5px 15px gray;
    border: none;
    border-radius: 5px;
    color: black;
    position: absolute;
    z-index: 1;
    background-color: white;
    min-width: 200px;
    padding: 1rem;

    p {
        margin: 0;
    }
}

.search-bar__typing {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    box-shadow:  0 5px 15px gray;
    border: none;
    color: black;
    z-index: 1;
    min-width: 200px;
    padding: 1rem;
    p {
        margin: 0;
    }
}

.list-slider__contents-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    width: 100%;
    flex-wrap: nowrap;
    position: relative;

    .slider-item {
        flex-shrink: 0;
    }

    .left {
        position: sticky;
        left: 2rem;
    }
    
    .right {
        position: sticky;
        right: 2rem;
    }
    
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow:hover {
    cursor: pointer;
    border-width: 0 6px 6px 0;
    padding: 6px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
  
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media screen and (max-width: 48em) { //767px
    .dropDownV2__title {
        @include variables.title();
    }
}

.diagonal-separator {
    @include variables.diagonal-separator($color: rgb(24, 81, 47));
}

@media screen and (min-width: 125em){ //2000px
    .diagonal-separator {
        @include variables.diagonal-separator($color: rgb(24, 81, 47),$marginTop: -278px, 
                                                    $b-right: 2000px, $b-bottom: 278px )
    }
}

@media screen and (max-width: 20em){ //320px
    .diagonal-separator {
        @include variables.diagonal-separator($color: rgb(24, 81, 47),$marginTop: -44.480px, 
                                                    $b-right: 320px, $b-bottom: 44px)
    }
}

