@use "variables";

.bttn--slide-up--green {
    background-color: #93A466;
    color: white;
    cursor: pointer;
}
  
.bttn--slide-up--gray {
    background-color: darkgray;
    color: white;
    cursor: pointer;
}
  
.bttn--slide-up--purple {
    background-color: #8229ab;
    color: white;
    cursor: pointer;
}

.bttn--slide-up--green:hover {
    position: relative;
    bottom: 2px;
    background-color: #87965d;
}

.bttn--slide-up--gray:hover {
    position: relative;
    bottom: 2px;
    background-color: rgb(157, 152, 152);
}

.bttn--slide-up--purple:hover {
    position: relative;
    bottom: 2px;
    background-color: #8930b1;
}

.bttn--slide-up--green:active {
    background-color: #7c8a55;
    cursor: grabbing;
}

.bttn--slide-up--gray:active {
    background-color: rgb(141, 131, 131);
    cursor: grabbing;
}

.bttn--slide-up--purple:active {
    background-color: #8e37b6;
    cursor: grabbing;
}

.highlight:focus {
    box-shadow: 0 0 5px green;
    border: 1px solid green;
    outline: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dropDownV2__triangle-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #79845D;
    position: absolute;
    top: 10%;
    right: 2%;
}

.dropDownV2 {
    width: 100%;
    height: 100%;
}

.dropDownV2__body {
    max-height: 0;
    overflow: hidden;
}

.dropDownV2__title {
    margin: 0;
    @include variables.title($color:white, $fontSize: 1.2rem, $fontWeight: normal);
}

.dropDownV2__hr {
    border-color: #E4FF9D;
}

.dropDownV2__headbar {
    position: relative;
}

