@use "variables";

.footer {
    @include variables.theme($bg: rgb(24, 81, 47));
    padding: 1px 0;
} 

.footer__twitter, .footer__facebook, .footer__instagram {
    width: 35px;
    margin-right: 10px;
}

.footer__socmed-icons {
    text-align: center;
    margin: 15px 0;
}

.footer__logo-wrapper {
    text-align: center;
    
    p {
        margin: 5px;
    }
    margin: 30px 0;
} 

.footer__textarea, .footer__input-text, .footer__send-bttn{
    display: block;
    margin: 15px;
}

.footer__input-text {
    width: 50%;
    max-width: 300px;
    padding: 5px;
}

.footer__textarea {
    width: 50%;
    height: 100px;
    resize: none;
    max-width: 300px;
    padding: 5px;
}

.footer__textarea::placeholder, .footer__input-text::placeholder {
    color: lightgray;
}

.footer__send-bttn {
    border-radius: 5%;
    border: none;
    padding: 7px;
    width: 100px;
}

.footer__p {
    display: inline-block;
    margin: 5px 10px;
}

.footer__navlink {
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px;
    color: white;
}

.footer__navlink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer__hr {
    border: 1px solid white;
}

.footer__links {
    padding: 0 5%;
    text-align: center;
    margin: 15px 0;
}

.footer__dropDowns {
    padding: 0 8%;
    margin: 50px auto;
    max-width: 1000px;
}

.footer__logo {
    width: 100px;
}

.footer__error-message {
    padding-left: 15px;
}

@media screen and (max-width: 30em) { //479px
    .footer__logo-wrapper {
        text-align: center;
    }

    .footer__navlink {
        display: block;
        margin: 16px;
    }

    .footer__links {
        padding: 0 5%;
        text-align: left;
    }
}

@media only screen and (max-width: 20em) { //320px
    .footer {
        width: 320px;
    }
}
