@use "variables";

.home-page {
    // max-width: 1700px;
    @include variables.theme($bg: black);
    min-width: 320px;
    overflow-x: hidden;
    height: 100vh;

    table {
        margin:  0 auto;
        text-align: center;
        padding: 0 10%;
    }

    th {
        text-align: left;
    }

    h1 {
        background-color: rgb(255, 255, 255);
        display: inline-block;
        padding: 2%;
        font-size: 3rem;
        color: black;
    }

    h2 {
        font-size: 1.4rem;
    }
}

.book-card {
    overflow: hidden;
    text-align: center;
    display: inline-block;
    padding: 1%;
    @include variables.theme($bg: white, $color: transparent);
    border-radius: 3%;
    width: 200px;
    height: 200px;
    margin: 0.5% 0.5% 10% 0.5%;
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: color 250ms ease-in-out;
}

.book-card:hover {
    color: white;
}

.book-card__p {
    position: relative;
    top: 30%;
}

.book-card::after {
    @include variables.bttnWaveEffectAfter();
}

.book-card:hover::after {
    @include variables.bttnWaveEffectHover();
}

.book-card-list {
    height: 230px;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
}
  
.book-card-list__header {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.home-page__diagonal-separator {
    @include variables.diagonal-separator($color: rgb(24, 81, 47));
}

@media only screen and (max-width: 831px) {
    .book-card {
        width: 150px;
        height: 150px;
    }

    .book-card-list {
        height: 180px;
    }
}

@media only screen and (max-width: 406px) {
    .book-card {
        width: 110px;
        height: 110px;
    }

    .book-card-list {
        height: 130px;
    }

    .book-card__p {
        top: 20%;
    }
}

@media screen and (max-width: 767px) {
    .home-page {
        h1 {
            background-color: rgb(255, 255, 255);
            display: inline-block;
            padding: 2%;
            font-size: 2rem;
            color: black;
        }
    
        h2 {
            font-size: 1.2rem;
        }
    }
}