.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    box-sizing: border-box;
    width: 100%;
}

.homepage__book-img {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(234, 234, 234);
    padding: 0 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    max-width: 20rem;
}

.homepage .search-bar__suggestion-list {
    box-sizing: border-box;
    max-width: 700px;
    min-width: 250px;
    width: 80vw;
}

.homepage__search-result-list {
    border-radius: 5px;
    margin: 1rem;
    padding: .5rem;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: rgb(241, 241, 241);
}

.homepage__search-result-list:hover {
    cursor: pointer;
    background-color: lightgray;
}

.homepage__search-result-img {
    margin-right: 1rem;
    height: 50px;
}

.homepage .search-bar__typing {
    box-sizing: border-box;
    margin-top: .5rem;
    max-width: 700px;
    min-width: 250px;
    width: 80vw;
}

.homepage .search-bar__input {
    box-sizing: border-box;
    max-width: 700px;
    width: 80vw;
    min-width: 250px;
    height: 50px;
    padding: 0 1rem;
    box-shadow:  0 5px 15px gray;
}

.homepage .search-bar__input-wrapper {
    overflow: visible;
}

@media screen and (max-width: 48em) { //767px
    .homepage__book-img {
        width: 18rem;
    }
}

@media only screen and (max-width: 30em){ //479px
    .homepage__book-img {
        padding: 0 2rem;
        width: 100%;
    }
}
