@use "variables";

.login-page-wrapper {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}

.login-page {
    text-align: center;
    width: 300px;
    margin: 2rem auto;
}
  
.login-page__logo {
    width: 100%;
    display: block;
}

.login-page__input-field {
    border-radius: 5px;
    border: 1px lightgray solid;
    margin: 5% 0;
    display: block;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

.login-page__input-field::placeholder {
    color: lightgray;
}

.login-page__bttn {
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 5%;
}

.login-page__demo-login-bttn {
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 5%;
    margin-top: 1rem;
}

.login-page__p {
    color: lightgray;
    margin: 0;
    font-size: 1rem;
}

.login-page__p:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #93a466;
}

.login-page__hr {
    width: 60%;
    border-top: lightgray 0.1px solid;
    margin: 2% auto;
}

.login-page__links {
    margin-top: 10%;
}

.login-page__errors-display {
    text-align: left;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #93a4663f;
    border-radius: 5px;
    p {
        color: gray;
    }
}

.login-page__errors-display-hide {
    height: 0;
    width: 0;
    overflow: hidden;
}

.forgot-password {
   border: none;
   border-radius: 5px;
   box-shadow:  0 5px 15px gray;
   p {
    text-align: center;
   }

   div {
    display: flex;
    justify-content: center;
   }
}

.forgot-password__email-input {
    outline: none;
    border-radius: 5px 0 0 5px;
    border: .5px solid lightgray;
    padding: .5rem;
}

.forgot-password__submit-bttn {
    border-radius: 0 5px 5px 0;
    border: none;
    padding: .5rem;
}

.forgot-password__label {
    text-align: center;
    display: block;
    margin-bottom: 1rem;
}

.forgot-password__error {
    color: red;
}

@media screen and (max-width: 30em) { //479px
    .login-page {
        width: 200px;
        margin: 60px auto 0;
    }

    .login-page__p {
        font-size: .8rem;
    }
}

@media screen and (max-width: 20em) { //320px
    .login-page {
        width: 160px;
        margin: 60px 80px 0;
    }
}