.my-transaction__add-bttn {
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: white;
    border: rgba(0, 0, 0, 0.248) solid 1px;
}

.my-transaction__add-bttn-wrapper {
    box-shadow:  0 5px 15px gray;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.my-transaction__form-label {
    text-align: end;
    width: 9rem;
    display: inline-block;
    margin: .5rem .5rem .5rem 0;
    align-self: flex-start;
}

#my-transaction__use-duration-id {
    width: 5.2rem;
}

#my-transaction__price-id {
    width: 8.4rem;
}

.my-transaction__add-book-dialog {
    background-color: lightgray;
    border: 1px solid white;
    box-shadow:  0 5px 15px gray;
    border-radius: 5px;
    width: 23.8rem;
    
    input, select {
        outline: none;
        border: none;
        padding: .5rem;
        border-radius: 5px;
    }
    
    input::placeholder {
        color: lightgrey;
    }
}

.my-transaction__field-wrapper {
    display: inline-flex;
    margin: 1rem 0;
    align-items: center;
}

.my-transaction__field-wrapper--isbn {
    display: inline-flex;
    margin: 1rem 0 1.5rem;
    align-items: center;
}
.my-transaction__p--error {
    margin: .5rem 0 0 0;
    color: red;
    width: 14rem;
}

.my-transaction__p--error--img {
    text-align: center;
    margin: .5rem 0 0 0;
    color: red;
    margin-bottom: .5rem;
}

.my-transaction__currency-select {
    margin-right: .5rem;
}

.my-transaction__duration-select {
    margin-left: .5rem;
}

.my-transaction__submit-bttn, .my-transaction__cancel-bttn {
    margin: 1.5rem .5rem 1rem;
    display: inline-block;
    cursor: pointer;
}

.my-transaction__submit-and-cancel-bttn-wrappers {
    text-align: center;
}

.my-transaction__loading-gif {
    width: 50px;
    margin: 1rem auto;
    display: block;
}

.my-transaction__loading-gif--hide {
    display: none;
}

.my-transaction__isbn-input-wrapper {
    display: flex;
}

@media only screen and (max-width: 48em) { //767px

    .my-transaction__p--error {
        width: 12rem;
    }

    .my-transaction__form-label {
        width: 7rem;
    }
    
    .my-transaction__add-book-dialog {
        width: 19.8rem;
    }

    #my-transaction__use-duration-id {
        width: 4rem;
    }
    
    #my-transaction__price-id {
        width: 6.5rem;
    }
}


@media only screen and (max-width: 30em) {//479

    .my-transaction__form-label {
        text-align: left;
    }

    .my-transaction__add-book-dialog {
        width: 13rem;
    }

    .my-transaction__p--error {
        padding-left: 0;
    }

    .my-transaction__field-wrapper {
        flex-direction: column;
        margin: .5rem;
    }

    .my-transaction__field-wrapper--isbn {
        text-align: left;
        flex-direction: column;
        margin: .5rem .5rem 1.5rem .5rem;
    }

    #my-transaction__book-condition {
        align-self: flex-start;
    }

    #my-transaction__author-id, #my-transaction__title-id {
        width: 11rem;
    }

    #my-transaction__use-duration-id {
        width: 4.7rem;
    }
    
    #my-transaction__price-id {
        width: 7.5rem;
    }
}