@use "variables";

.navbar {
    min-width: 320px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: background-color 300ms, box-shadow 300ms;
}

.navbar__out-of-view {
    background-color: rgb(232, 232, 232);
    box-shadow:  0 5px 15px gray;
}

.navPlaceHolder {
    width: 100%;
    height: 50px;
}
  
.navbar__ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto 0 0;
    padding: 0 2rem; 
    overflow: hidden;
    height: 50px;
    flex-grow: 1;
}

.navbar__ul-wrapper {
    max-width: 2000px;
    margin: .5rem auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.navbar__li {
    border-radius: 50%;
    padding: .5rem;
    white-space: nowrap;
    margin-right: 2rem;
}

.navbar__li--logo {
    border-radius: 50%;
    padding: .5rem;
    white-space: nowrap;
    margin: 0 1rem;
}

.navbar__NavLink {
    @include variables.title($color: black);
    text-decoration: none;
}

.navbar__li:hover {
    position: relative;
    bottom: 2px;
    background-color:  #a6b57a;
    cursor: pointer;
}

.navbar__NavLink:active {
    cursor: grabbing;
}

.logo__svg {
    width: 50px;
}

.menu-icon {
    display: none;
}

.navbar-overlay__side-bar {
    visibility: hidden;
}

@media screen and (max-width: 48em) { //767px

    .navbar__li {
        display: none;
        margin: 0;
    }
    
    .menu-icon  {
        display: flex;
    }

    .menu-icon__svg {
        width: 20px;
    } 

    .navbar-overlay__side-bar {
        text-align: center;
        border-left: none;
        box-shadow:  0 5px 15px gray;
        width: 185px;
        margin: 0 auto 0 0;
        @include variables.theme($bg: rgba(162, 162, 162, 0.579));
        height: 100%;
        padding: 0 0 5rem 0;
        visibility: visible;
        overflow: hidden;
        transform: translateX(-200px);
        transition: transform 1s;
    }

    .navbar-overlay__side-bar::backdrop {
        background-color: rgba(0, 0, 0, 0.263);
    }
    
    .navbar_overlay__NavLink {
        display: block;
        text-decoration: none;
        color: white;
        margin: 10% 5%;
    }

    .navbar-overlay__headbar {
        width: 100%;
        height:  50px; 
        background-color: #6c8131;
    }
}

@media only screen and (max-width: 30em) { //479px

    .navPlaceHolder {
        height: 35px;
    }

    .navbar__ul{
        height: 35px;
        padding: 0 1rem;
    }

    .logo__svg {
        width: 40px;
    }
     
    .menu-icon__svg {
        width: 20px;
    } 
}