@use "variables";
.parallax__wrapper {
    position: relative;
}

.parallax {
    max-width: 2000px;
    max-height: 1000px;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 50vw;
    background-color: black;
    object {
        position: absolute;
    }
}

.parallax__navbar {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding: 10px 0;
}

.parallax__navlink {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}

.parallax__navlink:hover {
    background-color: gray;
}

.parallax__menu-icon {
    cursor: pointer;
    display: none;
    margin-left: 15px;
    border-radius: 50px;
}

.parallax__menu-icon:hover {
    background-color: gray;
}

object.parallax__menu-icon-svg {
    position: static;
    width: 20px;
    margin: 0 5px
}

.parallax__search-bar {
    margin-left: auto;
    margin-right: 2rem;
}

@media only screen and (max-width: 20em) { //320px
    .parallax {
      width: 320px;
      height: 160px;
    }
}

@media screen and (max-width: 48em) { //767px
    .parallax__menu-icon {
        display: inline-block;
    }

    .parallax__navlink {
        display: none;
    }
}