.reviews {
    min-width: 20rem;
}

.review-card {
    box-shadow:  0 5px 15px gray;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    display: inline-block;
    margin: 1rem;
    overflow: hidden;
}

.review-card__star {
    width: 75px;
}

.review-card__user-photo {
    width: 50px;
}

.review-card__name {
    display: block;
    font-weight: bold;
}

.review-card__img-name-wrapper {
    display: flex;
    align-items: center;
}

.reviews__review-list {
    display: flex;
    flex-direction: column;
}

.reviews__header-main-wrapper {
    background-color: rgba(147,164,102,.2470588235);
    position: relative;
    z-index: 1;
    margin: 2rem;
    padding: 2rem;
    border-radius: 5px;

    h1 {
        text-align: center;
    }
}

.review-form__stars {
    display: block;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;

    select {
        border: 1px dashed lightgray;
        border-radius: 5px;
    }
}

.review-form__submit {
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    padding: .5rem 1rem;
}

.review-form__textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 10rem;
    resize: none;
    outline: none;
    border-radius: 5px;
    border: 1px dashed lightgray;
    margin-bottom: 1rem;
    background-color: rgba(234, 234, 234, 0.537);
    padding: 1rem;
}

.review-form__wrapper {
    background-color: white;
    box-shadow:  0 5px 15px gray;
    border-radius: 5px;
    padding: 1rem;
    display: inline-block;
    margin: 1rem;
    overflow: hidden;

    form {
        width: 100%;
    }
}

.review-form__errors {
    color: red;
    display: inline-block;
    margin-left: 1rem;
}

@media only screen and (max-width: 30em){ //479px

    .review-card {
        margin: 1rem 0;
    }

    .reviews__header-main-wrapper {
        margin: 1rem;
        padding: 1rem;
    }

    .review-form__wrapper {
        margin: 0;
    }
}