@use "variables";

.transaction {
    box-sizing: border-box;
    padding: 0 30px;
    color: gray;
    margin: 5% auto;
}

.transaction__h1 {
    text-align: center;
    color: #93A466;
}

.picviewer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.picviewer__picture-list {
    text-align: center;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.picviewer__picture {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.picviewer__hr {
    width: 100%;
    border-top: 1px solid lightgray;
}

.transaction__details {
    margin: 0 auto;
    position: relative;
    width: 90%;
}

.transaction__span {
    position: absolute;
    right: 0;
}

.transaction-contact {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.transaction-contact__chat, .transaction-contact__request {
    width: 45%;
}

.transaction-contact__chat-bttn, .transaction-contact__request-bttn {
    width: 100%;
    border: 0;
    border-radius: 5px;
    height: 50px;
}

.transaction-contact__hr {
    border-top: solid 1px lightgray;
}

.transaction__status-box {
    display: inline-block;
    background-color: #2DFC75;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border-radius: 5px;
}

.chat-box {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    box-shadow:  0 5px 15px gray;
    border-radius: 5px 0 0 0;
    overflow: hidden;
}

.chat-box__headbar {
    width: 100%;
    height: 35px;
    cursor: pointer;
    background-color: #93a466;
    position: relative;
}

.chat-box__display-input-wrapper {
    width: 100%;
}


.chat-box__display {
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 300px;
    overflow-x: hidden;
}

.chat-box__input {
    box-sizing: border-box;
    border: none;
    border-top: 1px dashed lightgray;
    width: 100%;
    padding: 1rem;
    outline: none;
    color: gray;
}

.chat-box__input::placeholder {
    color: lightgray;
}

.chat-box__x-bttn {
    position: absolute;
    right: .5rem;
    top: 0;
    transform: rotatez(45deg);
    display: inline-block;
    font-size: 30px;
    color: lightgray;
}

.chat-box__message {
    box-sizing: border-box;
    margin: 0;
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 25px;
    font-size: 1rem;
    max-width: 200px;
    overflow-x: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height: 20px;
}

.chat-box__message-wrapper {
    display: flex;
    margin: .5rem;
}

.chat-box__message-wrapper--me {
    justify-content: end;
}

.chat-box__message--me {
    background-color: lightgray;
    color: black;
}

.chat-box__message--other {
    background-color: white;
}

@media screen and (max-width: 20em){ //320px
    .diagonal-separator {
        @include variables.diagonal-separator($color: rgb(24, 81, 47),$marginTop: -44.480px, 
                                                    $b-right: 320px, $b-bottom: 44px)
    }

    .transaction {
        width: 320px;
    }
}
@media only screen and (max-width: 31em){ //500px
    .transaction-contact {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }

    .transaction-contact__chat, .transaction-contact__request {
        width: 90%;
        margin: 0 auto;
    }

    .picviewer__picture {
        width: 75px;
        height: 75px;
    }
    
}





