.transaction__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}

.transaction {
    border-radius: 5px;
    background-color: rgb(15, 21, 15);
    box-sizing: border-box;
    padding: 4rem 0;
    color: white;
    margin: 4rem auto;
    max-width: 1000px;
    width: 100%;
    box-shadow:  0 5px 15px gray;
}

.transaction__h1 {
    text-align: center;
    color: #93A466;
}

.picviewer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.picviewer__picture-list {
    text-align: center;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.picviewer__picture {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.picviewer__hr {
    width: 100%;
    border-top: 1px solid lightgray;
}

.transaction__details {
    margin: 0 auto;
    position: relative;
    width: 90%;
}

.transaction__field-wrapper {
    margin: 0;
    display: flex;
}

.transaction__field-name {
    margin: 0.5rem auto 0.5rem 0;
    font-weight: bold;
    padding-right: .5rem;
    width: 8rem;
}

.transaction__field-data {
    text-align: end;
    margin: 0.5rem 0 0.5rem auto;
}

.transaction-contact {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.transaction-contact__chat {
    width: 100%;
    max-width: 400px;
}

.transaction-contact__chat-bttn {
    width: 100%;
    border: 0;
    border-radius: 5px;
    height: 50px;
}

.transaction-contact__hr {
    border-top: solid 1px lightgray;
}

.transaction__status-box {
    display: inline-block;
    background-color: #2DFC75;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border-radius: 5px;
}

.transaction .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
}

.transaction .list-slider__left-arrow-wrapper:hover > .arrow, .transaction .list-slider__right-arrow-wrapper:hover > .arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
}

.chat-box {
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 300px;
    box-shadow:  0 5px 15px gray;
    border-radius: 5px 0 0 0;
    overflow: hidden;
}

.chat-box__headbar {
    width: 100%;
    height: 35px;
    cursor: pointer;
    background-color: green;
    position: relative;
}

.chat-box__display-input-wrapper {
    width: 100%;
}


.chat-box__display {
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 300px;
    overflow-x: hidden;
}

.chat-box__input {
    box-sizing: border-box;
    border: none;
    border-top: 1px dashed lightgray;
    width: 100%;
    padding: 1rem;
    outline: none;
    color: gray;
}

.chat-box__input::placeholder {
    color: lightgray;
}

.chat-box__x-bttn {
    position: absolute;
    right: .5rem;
    top: 0;
    transform: rotatez(45deg);
    display: inline-block;
    font-size: 30px;
    color: lightgray;
}

.chat-box__message {
    box-sizing: border-box;
    margin: 0;
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 25px;
    font-size: 1rem;
    max-width: 200px;
    overflow-x: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height: 20px;
}

.chat-box__message-wrapper {
    display: flex;
    margin: .5rem;
}

.chat-box__message-wrapper--me {
    justify-content: end;
}

.chat-box__message--me {
    background-color: lightgray;
    color: black;
}

.chat-box__message--other {
    background-color: white;
}

@media screen and (max-width: 20em){ //320px
  
    .transaction {
        width: 320px;
    }
}
@media only screen and (max-width: 31em){ //500px
    .transaction-contact {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }

    .transaction-contact__chat {
        width: 90%;
        margin: 0 auto;
    }

    .picviewer__picture {
        width: 75px;
        height: 75px;
    }
    
}





