$boxShadow: 0 5px 30px gray;
$primaryColor: #93A466;
$secondaryColor: #9A60B5;
$ThirdColor: darkgray;

@mixin font($color: black, $fontSize: 1.2rem) {
    color: $color;
    font-size: $fontSize;
}

@mixin title($color: black, $fontSize: 1.5rem, $fontWeight: bold) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin theme($bg: #93A466, $color: white ) {
    background-color: $bg;
    color: $color;
}