@use "normalize";
@use "common";

// defaults
html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.2rem;
}

.app {
    box-sizing: border-box;
    min-height: 85vh;
    max-width: 2000px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 47em) { //767px
    body {
        font-size: 1rem;
    }
}
