@use "normalize";
@use "animation";
@use "common";
@use "navbar";
@use "homepage";
@use "footer";
@use "parallax";
@use "loginPage";
@use "signUp";
@use "transactionPage";
@use "accountPage";

// defaults

body {
    font-size: 1.2rem;
}

.app {
    max-width: 2000px;
    margin: 0 auto;
}

@media screen and (max-width: 47em) { //767px
    body {
        font-size: 1rem;
    }
}
