.forgot-password-prompt {
   border: none;
   border-radius: 5px;
   box-shadow:  0 5px 15px gray;
   p {
    text-align: center;
   }

   div {
    display: flex;
    justify-content: center;
   }
}

.forgot-password-prompt__email-input {
    outline: none;
    border-radius: 5px 0 0 5px;
    border: .5px solid lightgray;
    padding: .5rem;
}

.forgot-password-prompt__submit-bttn {
    border-radius: 0 5px 5px 0;
    border: none;
    padding: .5rem;
}

.forgot-password-prompt__label {
    text-align: center;
    display: block;
    margin-bottom: 1rem;
}

.forgot-password-prompt__error {
    color: red;
}