
.my-details__form {
    overflow: hidden;
    p {
        margin-top: .5rem;
        margin-bottom: .5rem;
        padding-left: 5ch;
        color: red;
    }
}

.my-details__input {
    border: none;
    display: inline-block;
    width: 70%;
    background-color: transparent;
    color: black;
}

.my-details__phone-input-wrapper {
    display: flex;
    align-items: center;
}

.my-details__input--mobile-no {
    margin-left: 0.5rem;
    width: 50%;
    
    input {
        border: none;
        width: 100%;
        background-color: transparent;
        color: black;
    }

    input:read-only {
        outline: none;
    }
}

//element specification is needed to override normalize padding styling in firefox
input.my-details__edit-bttn {
    border-radius: 5px;
    border: none;
    padding: .3rem 1rem;
}

input.my-details__cancel-bttn {
    margin-left: 1rem;
    border-radius: 5px;
    border: none;
    padding: .3rem 1rem;
}

.my-details__passwd-prompt {
   text-align: center;
   background-color: lightgray;
   border: 1px solid white;
   min-height: 100px;
   box-shadow:  0 5px 15px gray;
   border-radius: 5px;
   div {
    margin: 1rem;
   }

   p {
    color: red;
   }

   input[type=submit] {
    background-color: white;
    border: none;
    margin-left: .5rem;
    cursor: pointer;
   }

   input[type=submit]:active {
    cursor: grab;
    background-color: rgb(228, 228, 228);
   }
}

.my-details__errors--api {
    color: red;
    padding-left: 1rem;
}

.my-details__loading {
    margin: 0;
    display: inline-block;
}

@media only screen and (max-width: 30em) {//479px
    .my-details__form {
        overflow: hidden;
        p {
            padding-left: 2ch;
        }
    }

    .my-details__phone-input-wrapper {
        display: block;
        
        .PhoneInput {
            margin-left: 2ch;
            width: 100%;
        }
    }

    .my-details__input {
        display: block;
        margin-left: 2ch;
        width: 100%;
    }
}