#add-book-transaction__use-duration {
    width: 5.3rem;
}

#add-book-transaction__price {
    width: 8.5rem;
}

#add-book-transaction__author, #add-book-transaction__title {
    width: 12rem;
}

#add-book-transaction__isbn {
    width: 12rem;
}

.add-book-transaction__dialog {
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: lightgray;
    border: 1px solid white;
    box-shadow:  0 5px 15px gray;
    border-radius: 5px;
    width: 26rem;
    
    input, select {
        outline: none;
        border: none;
        padding: .5rem;
        border-radius: 5px;
    }
    
    select {
        //This removed the defauilt styling in safari
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGRhdGEtbmFtZT0iTGF5ZXIgMSIgdmlld0JveD0iMCAwIDQuOTUgMTAiPg0KICA8cGF0aCBkPSJNMS40MSA0LjY3bDEuMDctMS40OSAxLjA2IDEuNDlIMS40MXptMi4xMy42NkwyLjQ4IDYuODIgMS40MSA1LjMzaDIuMTN6Ii8+DQo8L3N2Zz4=) no-repeat 95% 50%;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;

        //style the select element here
        background-color: white;
        padding-right: 25px;
        cursor: pointer;
    }
    
    input::placeholder {
        color: lightgrey;
    }
}

.add-book-transaction__isbn {
    display: inline-flex;
    margin: 1rem 0 1.5rem;
    align-items: center;
}

.add-book-transaction__errors {
    margin: .5rem 0 0 0;
    color: red;
    width: 14rem;
}

.add-book-transaction__errors--img {
    text-align: center;
    margin: .5rem 0 0 0;
    color: red;
    margin-bottom: .5rem;
}

.add-book-transaction__select-currency {
    margin-right: .5rem;
}

.add-book-transaction__select-duration {
    margin-left: .5rem;
}

.add-book-transaction__submit-bttn, .add-book-transaction__cancel-bttn {
    margin: 1.5rem .5rem 1rem;
    display: inline-block;
    cursor: pointer;
}

.add-book-transaction__submit-and-cancel-bttn-wrapper {
    text-align: center;
}

.add-book-transaction__isbn-input-wrapper {
    display: flex;
}

@media only screen and (max-width: 48em) { //767px

    #add-book-transaction__use-duration {
        width: 7.2rem;
    }
    
    #add-book-transaction__price {
        width: 10.5rem;
    }
    
    #add-book-transaction__author, #add-book-transaction__title {
        width: 14rem;
    }
    
    #add-book-transaction__isbn {
        width: 14rem;
    }
    
}


@media only screen and (max-width: 30em) {//479

    .add-book-transaction__dialog {
        width: 15rem;
    }

    .add-book-transaction__errors {
        padding-left: 0;
    }

    .add-book-transaction__isbn {
        text-align: left;
        flex-direction: column;
        margin: .5rem .5rem 1.5rem .5rem;
    }

    #add-book-transaction__book-condition {
        align-self: flex-start;
    }

    #add-book-transaction__use-duration {
        width: 5.4em;
    }
    
    #add-book-transaction__price {
        width: 8rem;
    }
    
    #add-book-transaction__author, #add-book-transaction__title {
        width: 11.3rem;
    }
    
    #add-book-transaction__isbn {
        width: 11.3rem;
    }
}